
.text{
	 position: relative;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: thin solid #CCCCCC;
    padding: 3px;
    margin: 3px;
    height: 24px;
}

.search{
	 position: relative;
    -moz-border-radius: 18px;
    -webkit-border-radius: 18px;
    border-radius: 18px;
    border: thin solid #CCCCCC;
    padding: 3px;
    margin: 3px;
	 width: 300px;
	 background: #FFFFFF no-repeat right url(../img/find.png);
}


#control_panel{
	 background: #FEFEFE;
    position: relative;
    height: auto;
    width: 540px;
    margin: auto;
    border: 1px solid #625F6E;
    border-top: 30px solid #625F6E;
    padding: 20px;
    padding-bottom: 80px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    color: #000000;
    top: 100px;
	 font-size: 14px;
}

#cp_page{
    background: #FFFFFF url('../../app_design/img/bg.jpg');
    background-position: top center;
    font-family: Arial;
    font-size: 12px; 
}

#msg_box_container{
    position: fixed;
    height: auto;
    width: auto;
    right:10px;
    top:10px;
    z-index: 100;
}

.msg_box{
    position: relative;
    height: auto;
    width: 400px;
    right:10px;
    border: 1px solid #CCCCCC;
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #FFFFFF;
    /*text-shadow: 2px 2px 2px #000;*/
    font-weight: bold;
    text-align: center;
    font-family: Arial;
    font-size: 11px;
}

#error{
	background: #C00000;
}

#success{
	background: #29CC70;
}

#warning{
	background: #FF9900;
}

.img_link{
	border: 1px solid #AAAAAA;
	margin: 5px;
}

#sub_login {
    position: relative;
    height: 30px;
    width: 260px;
    margin: auto;
    top: 90px;
}

#sub_login a {
	color: #FFFFFF;
	font-weight: bold;
   font-size: 12px;
   margin-left: 10px;
}

#services_icons {
	position: absolute;
	right: 20px;
	top: 5px;
}

#cp_icons_panel {
	position: relative;
	left: 0px;
	top: 30px;
	height: auto;
	width: 330px;
	border: 1px solid #CCCCCC;
	-moz-border-radius: 10px;
   -webkit-border-radius: 10px;
   border-radius: 10px;
   background: #FFFFFF;
}

.cp_icons {
	position: relative;
	margin: 10px;
	margin-right: -10px;
	height: 52px;
	width: 70px;
   border-radius: 5px;
   padding: 2px;
}

.cp_icons:hover {
	 background-image: -webkit-gradient(linear,left bottom,left top,color-stop(0.89, rgb(255,255,255)),color-stop(1, rgb(227,227,227)));
	 background-image: -moz-linear-gradient(center bottom,rgb(255,255,255) 29%,rgb(227,227,227) 100%);
}

#form_base {
	border: 1px solid #CCCCCC;
   border-top: 30px solid #CCCCCC;
   padding: 5px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
	display: none;
	position: relative;
	margin:auto;
	top: -280px;
	background: #333333;
	z-index:1;
	box-shadow: 5px 5px 28px #222;
	-webkit-box-shadow: 5px 5px 28px #222;
	-moz-box-shadow: 5px 5px 28px #222;
	cursor: move;
}

#gpb_search
{
	padding: 5px;
	background: url(../img/panel_back.jpg) repeat-x #F5F5F5;
	border: 1px solid #CCCCCC;
	border-top: 5px solid #2BACBD;
	position: relative;
	width: 550px;
	height: 305px;
}


#search_results th
{
	background: url(../img/text_back.jpg) repeat-x;
	color: #222222;
	position :relative;
	width: auto;
}

#search_results td
{
	padding :2px;
	font-size : 14px;
}

.tr_impar
{
	background-color : #DDDDDD;
}

#search_results th
{
	height : 24px;
	padding :2px;
	font-size : 11px;	
}

#search_results td
{
	border : 1px solid #CCCCCC;
	text-align:left;
	padding: 5px;
}

#search_results tr:hover
{
	background-color: #B8E0E6;
	cursor :pointer;
}

#search_results #table_head:hover
{
	background-color: #FFFFFF;
	cursor :default;
}

#search_results a, #search_results a:visited, #search_results img 
{
	text-decoration : none;
	border: none;
	color: #444444;
}


table 
{
	border-collapse :collapse ;
}

#listview
{
	position : relative;
	width: 600px;
	height: 250px;
	border : 1px solid #CCCCCC;
	overflow:scroll;
	background: #FFFFFF;
	margin: 5px;
}

#search_results 
{
	position: absolute;
	width: 100px;
}

#search_box {
	border: 2px solid #AAAAAA;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
	position: fixed;
	margin:auto;
	top: 0px;
	background: #FFFFFF;
	z-index:10;
	cursor: move;
	width: 650px;
	height: 370px;
}

#frm_search{
	background: #FFFFFF;
	position: relative;
	width: 550px;
	color: #000000;
}

.doc_box
{
	position:relative;
	width:90%;
	height: auto;
	font-size: 12px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	margin-left : auto; margin-right: auto; margin-bottom: 10px; margin-top :10px;
	background: #FFFFFF;
	border:1px solid #999999;
	border-top: 3px solid #2BACBD; 
	padding: 4px;
	text-align:justify;
}

#form_container {
	border: none;
}

#inactive_base {
   display: none;
	position: absolute;
	background: #000000;
	opacity: 0.5;
	width: 100%;
	height: 100%;
	top:0px;
	z-index:0;
}

#button_close {
   display: none;
	position: absolute;
	right: 10px;
	top:-22px;
	z-index:1;
}

.general_form_page{
    font-family: Arial;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
}

.block_form{
    float: left;
    margin-right:35px;	
}

#action_buttons_form{
	position: absolute;
	right: 10px;
}

.groupbox{
	position: relative;
   top: -20px;
   padding: 15px;
}

#block_form_files{
	position: relative;
	height: 380px;
	width:760px;
	margin-right: -20px;
	overflow: auto;
}

#fst_files{

}

#search_content{
	
}



